{% assign safeurl = page.url | absolute_url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign share_author = page.author | default: site.author %}
{% assign safesubject = '[Blog] ' | append: share_author | append: ' - ' | append: page.title | url_encode %}
<div class="share-buttons">
  <span class="share-label">{% if page.lang == 'en' %}Share on:{% else %}Partager :{% endif %}</span>
  <a href="https://twitter.com/intent/tweet?url={{ safeurl }}&amp;text={{ safetitle }}" target="_blank" rel="noopener noreferrer">X</a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  <a href="mailto:?body={{ safeurl }}&amp;subject={{ safesubject }}">Mail</a>
</div>
